{% extends 'base.html' %}

{% block style %}
{% include "style.html" %}
<style>
    li {
        display: inline-block;
        border: 2px solid #090;
        padding: 10px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h2>Список товаров</h2>
<ol>
    {% for item in items %}
        <li>
            <a href="{% url 'item-detail' item.id %}">
                <div><b>{{ item.name }}</b></div>
                <div>{{ item.info }}</div>
            </a>
        </li>
    {% endfor %}
</ol>
{% endblock %}
